@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Taviraj:ital,wght@1,500&display=swap');

body{
    font-family: 'Taviraj', serif;
}


/***NAVIGATION BAR***/
.nav-wrapper{
    background-color: #17a2b8;
}
.nav-wrapper a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
}
.nav-wrapper a h2 {
    font-family: 'Do Hyeon', sans-serif;
}
.nav-wrapper a:hover{
-webkit-transform: scale(1.2);
     -ms-transform: scale(1.2);
     transform: scale(1.2);
     -webkit-transition: -webkit-transform .2s;
     transition: -webkit-transform .2s;
     -o-transition: transform .2s;
     transition: transform .2s;
     transition: transform .2s, -webkit-transform .2s;
}
/***HERO IMAGE***/
.hero-image{
    background-image: url("../img/hero-image.jpg");
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    background-attachment: fixed;
}

/***BUTTONS***/
/*style taken from https://demos.themesfinity.com/css-buttons/*/
.landing-btn{
    background: #01a8c1;
    background: -moz-linear-gradient(-45deg, #01a8c1 0%, #2adbf7 50%, #00b5d1 51%, #0aafc9 71%, #0599b1 100%);
    background: -webkit-linear-gradient(-45deg, #01a8c1 0%,#2adbf7 50%,#00b5d1 51%,#0aafc9 71%,#0599b1 100%);
    background: linear-gradient(135deg, #01a8c1 0%,#2adbf7 50%,#00b5d1 51%,#0aafc9 71%,#0599b1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01a8c1', endColorstr='#0599b1',GradientType=1 );
    background-size: 400% 400%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    border: medium none;
    border-radius: 100px;
    width: 40%;
    height: 30%;
    color: #000;
    font-size: 17px;
}

.btn-info{
    border-radius: 100px;
}

@-webkit-keyframes AnimationName {
    0%{
        background-position:0% 31%
    }
    50%{
        background-position:100% 70%
    }
    100%{
        background-position:0% 31%
    }
}
@-moz-keyframes AnimationName {
    0%{
        background-position:0% 31%
    }
    50%{
        background-position:100% 70%
    }
    100%{
        background-position:0% 31%
    }
}
@keyframes AnimationName {
    0%{
        background-position:0% 31%
    }
    50%{
        background-position:100% 70%
    }
    100%{
        background-position:0% 31%
    }
}

body{
    background-color: #D3D3D3;
}

/***CONTACT US-MODAL***/
.modal{
    background-color: transparent;
    box-shadow: none;
}



/***FOOTER***/
footer{
    background-color: #17a2b8;
    padding: 20px;
}
.col-12 i {
    font-size: 3em;
    color: black;
}
.col-12 i:hover{
    -webkit-transform: scale(1.2);
     -ms-transform: scale(1.2);
     transform: scale(1.2);
     -webkit-transition: -webkit-transform .2s;
     transition: -webkit-transform .2s;
     -o-transition: transform .2s;
     transition: transform .2s;
     transition: transform .2s, -webkit-transform .2s;
}

/***JOB-DETAILS***/
.extra-info{
    width: 100%;
}
.extra-info .btn{
    width: 100%;
}
.job-container{
    width: 50%;
}
.landing-page{
    display: flex;
    justify-content:flex-end;
    align-items:center;
}
.landing-text{
    font-size: 60px;
}

.jobs:hover{
   -webkit-box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 40px 2px rgba(0,0,0,0.75);
    padding: 0;
}