/***NAVIGATION BAR***/
nav {
    background-color: #00CED1;
}
.nav-wrapper a{
    text-decoration: none;
}
/***HERO IMAGE***/
.hero-image{
    background-image: url("../img/hero-image.jpg");
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    background-attachment: fixed;
}

body{
    background-color: #D3D3D3;
}

/***FOOTER***/
footer{
    background-color: #20B2AA;
    padding: 20px;
}
.col-12 i {
    font-size: 3em;
    color: black;
}