{% extends 'base.html'%}
{% block content %}
<!--APPLY TO JOB FORM-->
<div class="container mt-5">
<h1 class="text-center mb-5 font-weight-bold">Apply</h1>
<div class="row">
    <form action="{{ url_for('apply') }}" class="col s12" id="apply">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">account_circle</i>
          <input id="first_name" type="text" class="validate" required>
          <label for="first_name">First Name</label>
        </div>
       </div>
       <div class="row">
        <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
          <input id="last_name" type="text" class="validate" required>
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate" required>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="telephone" name="telephone" type="tel" class="validate" required>
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
        <i class="material-icons prefix">assignment</i>
          <textarea id="textarea1" class="materialize-textarea" required></textarea>
          <label for="textarea1">Your cover letter</label>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field" required>
      <div class="btn">
        <span>Upload</span>
        <input type="file" multiple>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload your CV" required>
      </div>
    </div>
      </div>
      <div class="row">
            <button class="btn btn-info" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
            </button>
            <!--MODAL APPEARING ON FORM SUBMIT-->
            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <h5>Thank you for applying on this job. Your application will be reviewed and you are will be contacted in no time.</h5>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-info close-modal" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </form>
  </div>
  </div>
  {% endblock %}