{% extends 'base.html'%}
{% block content %}
<body>
	<div class="container-fluid hero-image landing-page">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="landing-text">You are the right talent!</h2>
                <h1 class="landing-text">Find and post jobs</h1>
                <a href="{{ url_for('jobs_posted') }}"><button type="button" class="btn btn-info landing-btn">LOOKING FOR A JOB?</button></a>
				<a href="{{ url_for('post_job') }}"><button type="button" class="btn btn-info landing-btn">POST A JOB</button></a>
			</div>
		</div>
	</div>
</body>
{% endblock %}