{% extends 'base.html'%}
{% block content %}
<!--LANDING PAGE-->
<body>
	<div class="container-fluid hero-image landing-page">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="landing-text">You are the right talent!</h2>
                <h1 class="landing-text mb-5">Find and post jobs</h1>
                <a href="{{ url_for('jobs_posted') }}" class="landing-btn text-decoration-none mr-3">LOOKING FOR A JOB?</a>
				<a href="{{ url_for('post_job') }}" class="landing-btn text-decoration-none">POST A JOB</a>
			</div>
		</div>
	</div>
</body>
{% endblock %}