{% extends 'base.html'%}
{% block content %}

<body>
	<div class="container-fluid hero-image">
		<div class="row">
			<div class="col-12 text-center">
				<h2>Some Text</h2>
				<a
					href="{{ url_for('jobs_posted') }}"><button type="button" class="btn btn-info">LOOKING FOR A JOB?</button></a>
				<a href="{{ url_for('post_job') }}"><button type="button" class="btn btn-info">POST A JOB</button></a>
				<div class="row justify-content-center">
					<div class="input-field col-3">
						<textarea id="textarea1" class="materialize-textarea"></textarea>
						<label for="textarea1"><i class="material-icons prefix">search</i></label>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
{% endblock %}