{% extends 'base.html'%} {% block content %}
<!--SEARCH BAR-->
<div class="container mt-5">
<div class="jumbotron">
<h1 class="text-center font-weight-bold">Jobs Posted</h1>
    <form action="{{ url_for('search') }}" method="POST">
        <div class="row text-center">
            <div class="col-sm-12 col-lg-8">
                <div class="input-field">
                    <i class="material-icons prefix">search</i>
                    <input name="search" type="text" class="validate"/>
                    <label for="search">Search for your dream Job!</label>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 mt-3">
                <a href="{{ url_for('search') }}" class="btns btn-info search-btn text-decoration-none">Search<i class="material-icons right">search</i></a>
            </div>
        </div>
    </form>
    </div>
</div>
{% for job in jobs %}
<!--JOB DETAILS(showcase only, full description in job-details.html)-->
<div class="container">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4 card-img">
                <img src="{{job.image_url}}" class="card-img" alt="Logo" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="{{url_for('job_details', job_id=job._id)}}"><h4>{{job.job_title}}</h4></a>
                    <h5 class="card-title">{{job.company_name}}</h5>
                    <h6 class="card-title"><i class="material-icons prefix">location_on</i>{{job.job_location}}</h6>
                    <h6 class="card-title"><i class="material-icons prefix">attach_money</i>{{job.job_salary}}</h6>
                    <h6 class="card-title"><i class="material-icons prefix">business_center</i>{{job.employment_type}}</h6>
                    <h6 class="card-title"><i class="material-icons prefix">today</i>{{job.posted_date}}</h6>
                    <div class="row justify-content-end mr-3">
                    <div class="col-sm-12 col-lg-3">
                        <a href="{{url_for('apply')}}" class="mr-3 btn-info btns text-decoration-none">
                                Apply
                                <i class="material-icons right">send</i>
                        </a>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                        <a href="{{url_for('edit_job', job_id=job._id)}}" class="mr-3 btns btn-info text-decoration-none">
                                Edit Job
                                <i class="material-icons right">mode_edit</i>
                        </a>
                        </div>
                        <div class="col-sm-12 col-lg-3">
                        <button class="btns btn-info" type="button" name="action" data-toggle="modal" data-target="#staticBackdrop">
                            Delete Job
                            <i class="material-icons right">delete</i>
                        </button>
                        </div>
                        <!--DELETE JOB MODAL-->
                        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel"><i class="material-icons left">warning</i>Delete Job</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h6>Are you sure about deleting this job?</h6>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{url_for('delete_job', job_id=job._id)}}" class="btns btn-danger text-decoration-none">
                                        <i class="material-icons left">delete</i>Delete
                                        </a>
                                        <button type="cancel" class="btn btn-secondary" data-dismiss="modal"><i class="material-icons left">cancel</i>Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<!--PAGINATION-->
<div class="container">
    <div class="row">
        <div class="col-12">
        <ul class="pagination justify-content-center">
    {% for page in pages %}
            {% if page == page_number %}
            <li class="active green"><a href="#!">{{ page }}</a></li>
            {% else %}
            <li class="waves-effect"><a href="{{ url_for('jobs_posted', page_number=page) }}">{{ page }}</a></li>
            {% endif %}
        {% endfor %}  
  </ul>
        </div>
    </div>
</div> 
{% endblock %}
