{% extends 'base.html'%}
{% block content %}
<h1>Post Job</h1>
<div class="container">
<div class="row">
    <form action="{{ url_for('post_job') }}" method="POST" class="col s12">
    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">business_center</i>
          <select id="category" name="category_name">
            {% for cat in categories %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
            {% endfor %}
        </select>
          <label for="salutation">Sector</label>
        </div>
       </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">business</i>
          <input id="company_name" name="company_name" type="text" class="validate">
          <label for="company_name">Company Name</label>
        </div>
       </div>
       <div class="row">
        <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
          <input id="job_title" name="job_title" type="text" class="validate">
          <label for="job_title">Job Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
          <input id="email" name="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" name="telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
        <i class="material-icons prefix">assignment</i>
          <textarea id="textarea1" name="job_description" class="materialize-textarea"></textarea>
          <label for="textarea1">Job Description</label>
        </div>
      </div>
      <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
  </div>
  </div>
{% endblock %}